openapi: 3.1.0
info:
  title: PayMate Global Partner API
  version: v1
  description: 'Partner-facing B2B payments API for the PayMate global platform — business (KYB) onboarding, contact onboarding,
    commercial-card management, vendor payments, payment collection requests and reporting.


    GENERATED, NOT PUBLISHED BY PAYMATE. PayMate does not publish an OpenAPI description. This document was generated by API
    Evangelist from PayMate''s OWN machine-readable endpoint dataset (MalaysiaData.json / singaporeData.json / AustraliaData.json
    / UaeData.json / OmanData.json / SouthAfricaData.json), which is bundled into the Partner API documentation app served
    at https://api.paymate.my/GlobalPartnerAPI. The verbatim datasets are kept alongside this file in openapi/_source/. Every
    path, method, parameter, data type, required flag, description and example here comes from that dataset; nothing was invented.


    Regional deployments run the same v1 surface on six hosts. In Australia and South Africa the platform is branded DuNoMo.
    Each operation carries x-regions listing the regional datasets that declare it — POST /v1/VendorPayment is declared only
    in the Australian dataset.'
  contact:
    name: PayMate partner support
    url: https://api.paymate.my/GlobalPartnerAPI
    email: support@paymate.my
  x-generated-by: API Evangelist enrichment pipeline
  x-generated-on: '2026-08-26'
  x-source: https://api.paymate.my/GlobalPartnerAPI/static/js/main.d40c1507.js
servers:
- url: https://api.paymate.sg
  description: Singapore
- url: https://api.paymate.my
  description: Malaysia
- url: https://api.paymate.ae
  description: United Arab Emirates
- url: https://api.paymate.om
  description: Oman
- url: https://api.dunomo.au
  description: Australia (DuNoMo brand)
- url: https://api.dunomo.co.za
  description: South Africa (DuNoMo brand)
tags:
- name: Businesses
  description: Business (KYB) onboarding, maintenance, charges and collection account setup
- name: Contacts
  description: Buyer / supplier contact onboarding and maintenance
- name: Cards
  description: Commercial credit card enrolment and management
- name: Payments
  description: Vendor payment initiation, status and reporting
- name: Collections
  description: Payment collection requests, status and reporting
- name: Reference
  description: Reference data
security:
- PartnerApiKey: []
components:
  securitySchemes:
    PartnerApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: PayMate issues a secret partner API key after onboarding (write to the regional support address, e.g. support@paymate.my).
        The exact header name is NOT published in the documentation app; an unauthenticated POST to /v1/Countrylist returns
        StatusCode 106 "Empty/Invalid header credentials", confirming header-carried credentials. Treat this scheme name/location
        as UNVERIFIED and confirm with PayMate before use.
      x-verified: false
  schemas:
    ErrorEnvelope:
      type: object
      description: Standard PayMate response envelope. Observed verbatim on a live unauthenticated probe of POST https://api.paymate.my/v1/Countrylist
        on 2026-08-26.
      properties:
        RequestID:
          type:
          - string
          - 'null'
          description: Echo of the partner-supplied request identifier
        StatusCode:
          type: string
          maxLength: 3
          description: PayMate status/error code — see errors/paymate-error-codes.yml (508 codes)
        Description:
          type: string
          description: Human-readable status description
        DetailedSummary:
          type:
          - object
          - array
          description: Operation payload; empty on error
      example:
        RequestID: null
        StatusCode: '106'
        Description: Empty/Invalid header credentials
        DetailedSummary: {}
paths:
  /v1/businessboarding:
    post:
      operationId: BusinessBoarding
      summary: Business Boarding
      description: 'This method is used for on-boarding the Business to the PayMate platform. Once the Business gets on-boarded
        to the PayMate platform, they can perform the various activities like: adding a card, boarding contacts, making payments
        to their vendors and sending collection request to their buyers.'
      tags:
      - Businesses
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestID:
                    type: string
                    maxLength: 30
                    description: Sent during request
                  StatusCode:
                    type: string
                    maxLength: 3
                    description: Status of the Request
                  Description:
                    type: string
                    maxLength: 300
                    description: Status Description
                  DetailedSummary:
                    type: object
                    description: This will be used to show business status and respond. Refer DetailedSummary Object
                    properties:
                      BusinessCode:
                        type: string
                        maxLength: 30
                        description: Sent during request
                      BusinessXpressID:
                        type: string
                        maxLength: 15
                        description: Business Identification at PayMate end
                      Status:
                        type: string
                        maxLength: 3
                        description: Current status of the business
                      Message:
                        type: string
                        maxLength: 500
                        description: Status description
              example:
                RequestID: '123456789'
                StatusCode: '000'
                Description: Your request has been processed successfully
                DetailedSummary:
                  BusinessXpressID: PMX10002344
                  BusinessCode: S001234
                  Status: '198'
                  Message: T&C acceptance is pending
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  maxLength: 30
                  description: A unique request no from the partner to track the request
                  x-possible-values: 0-9, A-Z
                BusinessInfo:
                  type: object
                  description: Refer BusinessInfo object
                  properties:
                    BusinessRegistrationNo:
                      type: string
                      maxLength: 30
                      description: Company Registration no issued by the government. If registration number is provided by
                        the partner then PayMate will perform the business KYC in real time. If the registration number is
                        not provided then the Partner will have to use the BuyerSupplierKYC and ShareholderDetails API method
                        for KYC verification.
                    BusinessName:
                      type: string
                      maxLength: 100
                      description: Name of the business as per the government record.
                      x-special-characters: . @ & ! ' _ - / ( )
                    BusinessCode:
                      type: string
                      maxLength: 30
                      description: Business unique reference no. on partner system
                    ContactPersonName:
                      type: string
                      maxLength: 100
                      description: Contact's person name
                    BusinessEmailAddress:
                      type: string
                      maxLength: 240
                      description: Business Email which will be used for all future communication
                    ISDCode:
                      type: string
                      maxLength: 4
                      description: If business will provide the country ISD code then system will validate and store the details
                      x-possible-values: '[''+'', ''0-9'']'
                    MobileNumber:
                      type: string
                      pattern: ^[0-9]+$
                      maxLength: 10
                      description: If business will provide the mobile no then system will validate the number else they can
                        skip the details
                    BusinessDescription:
                      type: string
                      maxLength: 250
                      description: Short description about the business
                    WebsiteAddress:
                      type: string
                      maxLength: 100
                      description: Business website details
                    BusinessISOCountryCode:
                      type: string
                      maxLength: 3
                      description: Country 3 letter code(ISO alpha 3 code)
                    ContactKYCRequired:
                      type: string
                      maxLength: 1
                      description: Y – if Business wants their vendors to perform the KYC, N – Otherwise
                      x-possible-values: '[''Y'', ''N'']'
                  required:
                  - BusinessName
                  - BusinessCode
                  - ContactPersonName
                  - BusinessEmailAddress
                  - ContactKYCRequired
                TransactionCharges:
                  type: object
                  description: Array of business charges. Minimum one to provide and these charges will be used during payment
                    processing. Refer TransactionCharges Object
                  properties:
                    ServiceType:
                      type: string
                      maxLength: 20
                      description: 'Payments: only for supplier payment. Collections: for only for collection. Otherwise set
                        both the service type in case of business want to use both the service'
                      x-possible-values: '[''Payments'', ''Collection'']'
                    PaymentMode:
                      type: string
                      maxLength: 15
                      description: Set payment mode as Credit Card, Debit Card, Net Banking and XpressAccount
                      x-possible-values: '[''CreditCard'',''DebitCard'',''NetBanking'',''XpressAccount'']'
                    ProcessingRate:
                      type: number
                      x-precision: 18,2
                      description: MDR for each payment mode. This should be greater than or equal to given MDR to partner
                    ProgramCode:
                      type: string
                      maxLength: 10
                      description: Program Code defines the respective channel to be used during transaction. Required only
                        in case of payment mode credit card
                  required:
                  - ServiceType
                  - PaymentMode
                  - ProcessingRate
              required:
              - RequestID
              - BusinessInfo
              - TransactionCharges
            example:
              BusinessDetails:
                RequestID: '123456789'
                BusinessInfo:
                  BusinessRegistrationNo: 1000008-M
                  BusinessName: '#CENTEROFATTRACTION PRIVATE LIMITED'
                  BusinessCode: S001234
                  ContactPersonName: DheerajRai
                  BusinessEmailAddress: dheeraj@supernet.com
                  ISDCode: '+60'
                  MobileNumber: '196090811'
                  BusinessDescription: ''
                  WebsiteAddress: ''
                  BusinessISOCountryCode: MYS
                  ContactKYCRequired: N
                TransactionCharges:
                - ServiceType: Payments
                  PaymentMode: CreditCard
                  ProcessingRate: '2.00'
                  ProgramCode: ''
                - ServiceType: Payments
                  PaymentMode: NeBanking
                  ProcessingRate: '1.00'
                  ProgramCode: ''
                - ServiceType: Payments
                  PaymentMode: XpressAccount
                  ProcessingRate: '0.00'
                  ProgramCode: ''
                - ServiceType: Collections
                  PaymentMode: CreditCard
                  ProcessingRate: '2.00'
                  ProgramCode: ''
                - ServiceType: Collections
                  PaymentMode: DebitCard
                  ProcessingRate: '2.00'
                  ProgramCode: ''
                - ServiceType: Collections
                  PaymentMode: XpressAccount
                  ProcessingRate: '0.00'
                  ProgramCode: ''
  /v1/modifybusiness:
    post:
      operationId: ModifyBusiness
      summary: Modify Business
      description: This method is used for updating the Business information, once the Business is on-boarded to the PayMate.
        The Business can update their information such as Business Name, Contact person’s information, Website details, etc.
        Business can send either “BusinessCode” or “BusinessXpressID” with the request for modification.
      tags:
      - Businesses
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestID:
                    type: string
                    maxLength: 30
                    description: Sent during request
                  StatusCode:
                    type: string
                    maxLength: 3
                    description: Status of the Request
                  Description:
                    type: string
                    maxLength: 300
                    description: Status Description
                  DetailedSummary:
                    type: object
                    description: This will be used to show business status and respond. Refer DetailedSummary Object
                    properties:
                      BusinessCode:
                        type: string
                        maxLength: 30
                        description: Sent during request
                      BusinessXpressID:
                        type: string
                        maxLength: 15
                        description: Business Identification at PayMate end
                      Status:
                        type: string
                        maxLength: 20
                        description: Current status of the business
                      Message:
                        type: string
                        maxLength: 500
                        description: Status description
              example:
                RequestID: '123456789'
                StatusCode: '000'
                Description: Yourrequesthasbeenprocessedsuccessfully
                DetailedSummary:
                  BusinessXpressID: PMX10002344
                  BusinessCode: S001234
                  Status: '219'
                  Message: Yourbusinessinformationhasbeenupdatedsuccessfully
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  maxLength: 30
                  description: A unique Request no from the partner to track the request
                  x-possible-values: '[''0 - 9'', ''A - Z'']'
                BusinessInfo:
                  type: object
                  description: This will be used to update business information. Refer BusinessInfo Object
                  properties:
                    BusinessRegistrationNo:
                      type: string
                      maxLength: 30
                      description: Company Registration no issued by the government. If registration number is provided by
                        the partner then PayMate will perform the business KYC in real time otherwise the business will use
                        other BusinessKYC API and submit the KYC documents. PayMate will review the KYC document and take
                        action within 48 hours.
                    BusinessName:
                      type: string
                      maxLength: 100
                      description: Pass this parameter only when change is required.
                      x-special-characters: . @ & ! ' _ - / ( )
                    BusinessCode:
                      type: string
                      maxLength: 30
                      description: Business unique reference no. on partner system. Parameter is mandatory if business is
                        not sending BusinessXpressID
                    BusinessXpressID:
                      type: string
                      maxLength: 15
                      description: Business Unique Relationship no at PayMate end. Parameter is mandatory if business is not
                        sending BusinessCode
                    ContactPersonName:
                      type: string
                      maxLength: 100
                      description: Pass this parameter only when change is required
                    BusinessEmailAddress:
                      type: string
                      maxLength: 240
                      description: Pass this parameter only when change is required
                    ISDCode:
                      type: string
                      maxLength: 4
                      description: Pass this parameter only when business want to update country ISD code
                    MobileNumber:
                      type: string
                      pattern: ^[0-9]+$
                      maxLength: 10
                      description: Pass this parameter only when change is required
                    WebsiteAddress:
                      type: string
                      maxLength: 100
                      description: Pass this parameter only when change is required
                    BusinessDescription:
                      type: string
                      maxLength: 250
                      description: Pass this parameter only when change is required
                    BusinessISOCountryCode:
                      type: string
                      maxLength: 3
                      description: Country 3 letter code(ISO alpha 3 code)
                    ContactKYCRequired:
                      type: string
                      maxLength: 1
                      description: Pass this parameter only when change is required
                      x-possible-values: Y / N
              required:
              - RequestID
              - BusinessInfo
            example:
              BusinessDetails:
                RequestID: '987654321'
                BusinessInfo:
                  BusinessCode: S001234
                  BusinessXpressID: ''
                  BusinessName: '#CENTEROFATTRACTION PRIVATE LIMITED'
                  ContactPersonName: DheerajRai
                  BusinessEmailAddress: Dheeraj.Rai@supernet.com
                  ISDCode: '+60'
                  MobileNumber: '196090811'
                  BusinessDescription: ''
                  WebsiteAddress: ''
                  BusinessISOCountryCode: MYS
                  ContactKYCRequired: N
  /v1/SetTransctionCharges:
    post:
      operationId: SetTransactionCharges
      summary: Set Transaction Charges
      description: This method is used for setting up the transaction charges for various services. With this API, one can
        set-up Credit Card, Debit Card or Net Banking charges for Payments and Collections.
      tags:
      - Businesses
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties:
                  StatusCode:
                    type: string
                    maxLength: 3
                    description: Status of the Request
                  Description:
                    type: string
                    maxLength: 300
                    description: Status Description
                  DetailedSummary:
                    type: object
                    description: This will be used to show business status and respond. Refer DetailedSummary Object
                    properties:
                      BusinessCode:
                        type: string
                        maxLength: 30
                        description: Sent during request
                      BusinessXpressID:
                        type: string
                        maxLength: 3
                        description: Business Identification at PayMate end
                      Status:
                        type: string
                        maxLength: 20
                        description: Current status of the business
                      Message:
                        type: string
                        maxLength: 500
                        description: Status description
              example:
                RequestID: '123456789'
                StatusCode: '000'
                Description: Your request has been processed successfully
                DetailedSummary:
                  BusinessXpressID: PMX10002344
                  BusinessCode: S001234
                  Status: '225'
                  Message: Your business charges has been updated successfully
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  maxLength: 30
                  description: A unique Request no from the partner to track the request
                  x-possible-values: '[''A-Z'', ''0-9'']'
                BusinessCode:
                  type: string
                  maxLength: 30
                  description: Business unique reference no. on partner system. Parameter is mandatory if business is not
                    sending BusinessXpressID
                  x-possible-values: '[''A-Z'', ''0-9'']'
                BusinessXpressID:
                  type: string
                  maxLength: 15
                  description: Business Unique Relationship no at PayMate end. Parameter is mandatory if business is not sending
                    BusinessCode
                TransactionCharges:
                  type: object
                  description: Array of business charges. Minimum one to be provided and these charges will be used during
                    payment processing. Refer TransactionCharges Object
                  properties:
                    ServiceType:
                      type: string
                      maxLength: 20
                      description: 'Payments: only for supplier payment. Collections: for only for collection. Otherwise set
                        both the service type in case of business want to use both the service'
                      x-possible-values: '[''Payments'', ''Collections'']'
                    PaymentMode:
                      type: string
                      maxLength: 15
                      description: Set payment mode as Credit Card, Debit Card, Net Banking
                      x-possible-values: '[''CreditCard'',''DebitCard'',''NetBanking'',''XpressAccount'']'
                    ProcessingRate:
                      type: number
                      x-precision: 18,2
                      description: MDR for each payment mode
                    ProgramCode:
                      type: string
                      maxLength: 10
                      description: Program Code defines the respective channel to be used during transaction. Required only
                        in case of payment mode credit card
                  required:
                  - ServiceType
                  - PaymentMode
                  - ProcessingRate
              required:
              - RequestID
              - TransactionCharges
            example:
              TrasnactionChargesDetails:
                RequestID: '123456789'
                BusinessCode: CRX00005
                BusinessXpressID: ''
                TransactionCharges:
                - ServiceType: Payments
                  PaymentMode: CreditCard
                  ProcessingRate: '2.00'
                  ProgramCode: ''
                - ServiceType: Collections
                  PaymentMode: DebitCard
                  ProcessingRate: '2.00'
                  ProgramCode: ''
  /v1/deletebusiness:
    post:
      operationId: DeleteBusiness
      summary: Delete Business
      description: This method is used for deleting a Business permanently. It cannot be undone. Also, immediately cancels
        any active subscription of the Business, if any.
      tags:
      - Businesses
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestID:
                    type: string
                    maxLength: 30
                    description: Sent during request
                  StatusCode:
                    type: string
                    maxLength: 3
                    description: Status of the Request
                  Description:
                    type: string
                    maxLength: 300
                    description: Status Description
                  DetailedSummary:
                    type: object
                    description: This will be used to show business status and respond. Refer DetailedSummary Object
                    properties:
                      BusinessCode:
                        type: string
                        maxLength: 30
                        description: Sent during request
                      BusinessXpressID:
                        type: string
                        maxLength: 15
                        description: Business Identification at PayMate end
                      Status:
                        type: string
                        maxLength: 3
                        description: Current status of the business
                      Message:
                        type: string
                        maxLength: 500
                        description: Status description
              example:
                RequestID: '123456789'
                StatusCode: '000'
                Description: Yourrequesthasbeenprocessedsuccessfully
                DetailedSummary:
                  BusinessXpressID: PMX10002344
                  BusinessCode: S001234
                  Status: '242'
                  Message: Yourbusinesshasbeendeletedsuccessfully
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  maxLength: 30
                  description: A unique Request no from the partner to track the request
                  x-possible-values: '[''A-Z'', ''0-9'']'
                BusinessCode:
                  type: string
                  maxLength: 30
                  description: Business unique reference no. on partner system. Parameter is mandatory if business is not
                    sending BusinessXpressID
                BusinessXpressID:
                  type: string
                  maxLength: 15
                  description: Business Unique Relationship no at PayMate end. Parameter is mandatory if business is not sending
                    BusinessCode
                  x-possible-values: '[''A-Z'', ''0-9'']'
                Reason:
                  type: string
                  maxLength: 500
                  description: Remarks on deleting
                  x-possible-values: '[''A-Z'', ''0-9'']'
              required:
              - RequestID
              - Reason
            example:
              BusinessDetails:
                RequestID: '123456789'
                BusinessCode: ATRS00001
                BusinessXpressID: ''
                Reason: Businessisnotactivesincelastfewmonths
  /v1/BusinessCollectionAccount:
    post:
      operationId: SetCollectionAccount
      summary: Set Collection Account
      description: This method is used for adding a collection Bank account, where the Business would like to receive the
        funds received from their customers.
      tags:
      - Businesses
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestID:
                    type: string
                    maxLength: 20
                    description: Sent during request
                  StatusCode:
                    type: string
                    maxLength: 3
                    description: Status of the Request
                  Description:
                    type: string
                    maxLength: 300
                    description: Status Description
                  DetailedSummary:
                    type: object
                    description: This will be used to show business status and respond. Refer DetailedSummary Object
                    properties:
                      BusinessCode:
                        type: string
                        maxLength: 30
                        description: Sent during request
                      BusinessXpressID:
                        type: string
                        maxLength: 15
                        description: Business Identification at PayMate side
                      Status:
                        type: string
                        maxLength: 3
                        description: Current status of the business
                      Message:
                        type: string
                        maxLength: 500
                        description: Status description
              example:
                RequestID: '123456789'
                StatusCode: '000'
                Description: Businessrequesthasbeenprocessedsuccessfully
                DetailedSummary:
                  BusinessXpressID: PMX10002344
                  BusinessCode: S001234
                  Status: '288'
                  Message: Accounthasbeensetasadefaultsettlementaccount
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  maxLength: 30
                  description: A unique Request no from the partner to track the request
                BusinessCode:
                  type: string
                  maxLength: 30
                  description: Business unique reference no. on partner system. Parameter is mandatory if business is not
                    sending BusinessXpressID
                BusinessXpressID:
                  type: string
                  maxLength: 15
                  description: Business Unique Relationship no at PayMate end. Parameter is mandatory if business is not sending
                    BusinessCode
                BankAccountDetails:
                  type: object
                  description: This will be used to provide business account details for collection. Refer BankAccountDetails
                    Object
                  properties:
                    AccountHolderName:
                      type: string
                      maxLength: 100
                      description: Name of the person or business that owns the bank account.
                    AccountNo:
                      type: string
                      maxLength: 30
                      description: Business unique reference no. on partner system. Parameter is mandatory if business is
                        not sending BusinessXpressID
                    CurrencyCode:
                      type: string
                      maxLength: 3
                      description: Three letter ISO code for the currency paid out to the bank account
                    RoutingNumber:
                      type: string
                      pattern: ^[0-9]+$
                      maxLength: 9
                      description: The routing transit number for the bank account. If mandatory by bank then send with account
                        details
                    BICCode:
                      type: string
                      maxLength: 11
                      description: Bank identifier code
                    BranchCity:
                      type: string
                      maxLength: 50
                      description: Bank branch city name
                      x-possible-values: '[''A-Z'', ''Space'']'
                    CountryCode:
                      type: string
                      maxLength: 3
                      description: Three letter ISO code representing the country the bank account is located in
                  required:
                  - AccountHolderName
                  - AccountNo
                  - BICCode
              required:
              - RequestID
              - BankAccountDetails
            example:
              SettlementAccountDetails:
                RequestID: '123456789'
                BusinessCode: ATRS00001
                BusinessXpressID: ''
                AccountDetails:
                  AccountHolderName: SupernetServices
                  AccountNo: '565343423'
                  CurrencyCode: MYR
                  RoutingNumber: ''
                  BICCode: DBSSSGSG
                  BranchCity: ''
                  CountryCode: MYS
  /v1/managebusiness:
    post:
      operationId: ManageBusiness
      summary: Manage Business
      description: This method is used for getting all the Business information related to the registered Businesses
      tags:
      - Businesses
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties:
                  StatusCode:
                    type: string
                    maxLength: 3
                    description: Status of the Request
                  Description:
                    type: string
                    maxLength: 300
                    description: Status Description
                  DetailedSummary:
                    type: object
                    description: This will be used to show Business information. Refer DetailedSummary Object
                    properties:
                      BusinessName:
                        type: string
                        maxLength: 100
                        description: Name of the business
                      BusinessCode:
                        type: string
                        maxLength: 30
                        description: Business unique reference no. on partner system
                      ContactpersonName:
                        type: string
                        maxLength: 100
                        description: Contact's person first name
                      BusinessEmailAddress:
                        type: string
                        maxLength: 240
                        description: Business Email which will be used for all future communication
                      ISDCode:
                        type: string
                        maxLength: 4
                        description: Country ISD code
                      MobileNumber:
                        type: string
                        pattern: ^[0-9]+$
                        maxLength: 10
                        description: Business Mobile number
                      WebsiteAddress:
                        type: string
                        maxLength: 100
                        description: Business website details
                      BusinessDescription:
                        type: string
                        maxLength: 500
                        description: Short description about the business
                      ContactKYCRequired:
                        type: string
                        maxLength: 1
                        description: Y – if Business wants their vendors to perform the KYC, N – Otherwise
                      BusinessStatus:
                        type: string
                        maxLength: 3
                        description: Current Status of the Business
                      StatusRemark:
                        type: string
                        maxLength: 500
                        description: Status Description
                      RegistrationDate:
                        type: string
                        description: Business's Registration Date
                      BusinessXpressID:
                        type: string
                        maxLength: 15
                        description: Business Unique reference no at PayMate end
                      XpressAccountNo:
                        type: string
                        maxLength: 50
                        description: PayMate Wallet Account No
                      XpressAccountBalance:
                        type: number
                        x-precision: 18,2
                        description: Current Balance in the PayMate Xpress Account
                      ServiceType:
                        type: string
                        maxLength: 20
                        description: Assigned Service Type
                      PaymentMode:
                        type: string
                        maxLength: 15
                        description: Current assigned Payment Mode
                      ProcessingRate:
                        type: number
                        x-precision: 18,2
                        description: MDR for each payment mode
                      issuersCode:
                        type: string
                        maxLength: 4
                        description: Bank code
                      AcceptedBy:
                        type: string
                        maxLength: 240
                        description: Email address of business who is accepting the T&C of PayMate
                      AcceptanceDateTime:
                        type: string
                        description: Acceptance date and time
                      BusinessIPAddress:
                        type: string
                        maxLength: 15
                        description: User's system IP address
                      BusinessNature:
                        type: string
                        maxLength: 30
                        description: Registered Business Type
                      KYCStatus:
                        type: string
                        maxLength: 3
                        description: Current status of the KYC
              example:
                RequestID: '123456789'
                StatusCode: '000'
                Description: Your request has been processed successfully
                DetailedSummary:
                  BusinessDetails:
                    RequestID: '123456789'
                    BusinessInfo:
                      BusinessName: '#CENTEROFATTRACTION PRIVATE LIMITED'
                      BusinessCode: S001234
                      ContactPersonName: Dheeraj Rai
                      BusinessEmailAddress: dheeraj@supernet.com
                      ISDCode: '+60'
                      MobileNumber: '196090811'
                      WebsiteAddress: ''
                      BusinessDescription: ''
                      ContactKYCRequired: N
                      BusinessStatus: '200'
                      StatusRemark: Business Active
                      RegistrationDate: 01-07-2023
                      BusinessXpressID: PMX0001234
                      XpressAccountNo: PAYMS3455DF
                      XpressAccountBalance: '0.00'
                    TransactionCharges:
                    - ServiceType: Payments
                      PaymentMode: CreditCard
                      ProcessingRate: '2.00'
                      ProgramCode: ''
                    - ServiceType: payments
                      PaymentMode: DebitCard
                      ProcessingRate: '1.00'
                      ProgramCode: ''
                    - ServiceType: Collections
                      PaymentMode: DebitCard
                      ProcessingRate: '2.00'
                      ProgramCode: ''
                    TermsConditions:
                      AcceptedBy: ''
                      AcceptanceDateTime: 01-02-2021 15:25:12
                      BusinessIPAddress: 192.168.3.234
                    KYCDetails:
                      BusinessNature: Proprietorship
                      StatusCode: '295'
                      KYCStatus: KYC Verified
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  maxLength: 30
                  description: A unique Request no from the partner to track the request
                BusinessCode:
                  type: string
                  maxLength: 30
                  description: Business unique reference no. on partner system
                BusinessXpressID:
                  type: string
                  maxLength: 15
                  description: Business unique relationship no at PayMate end
                FromDate:
                  type: string
                  description: Business created from date (including from date)
                  x-possible-values: DD-MM-YYYY
                ToDate:
                  type: string
                  description: Business created to date (including to date)
                  x-possible-values: DD-MM-YYYY
                PaginationIndex:
                  type: string
                  pattern: ^[0-9]+$
                  maxLength: 3
                  description: Index for Pagination
                  x-possible-values: DD-MM-YYYY
                RecordsPerPage:
                  type: string
                  pattern: ^[0-9]+$
                  maxLength: 2
                  description: A limit on the number of record to be return
                  x-possible-values: Max 100
              required:
              - RequestID
              - PaginationIndex
              - RecordsPerPage
            example:
              RequestID: '123456789'
              BusinessCode: ''
              BusinessXpressID: ''
              FromDate: 01-02-2021
              ToDate: 10-02-2021
              PaginationIndex: '1'
              RecordsPerPage: '10'
  /v1/GetTermsNCondition:
    post:
      operationId: TermsCondition
      summary: Terms & Condition
      description: This method is used for showing Term & Condition to the business at the time of boarding and business must
        be accept the term and condition
      tags:
      - Businesses
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties:
                  StatusCode:
                    type: string
                    maxLength: 3
                    description: Status of the Request
                  Description:
                    type: string
                    maxLength: 300
                    description: Status Description
                  DetailedSummary:
                    type: object
                    description: This will be used to show Business information. Refer DetailedSummary Object
              example:
                StatusCode: '000'
                Description: Your request has been processed successfully
                DetailedSummary:
                  HTML: <p>Term and Condition</p>
                  Status: '000'
                  Message: Your Term and Condition
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                StatusCode:
                  type: string
                  maxLength: 3
                  description: Status Code
                Description:
                  type: string
                  maxLength: 300
                  description: Status Description
                DetailedSummary:
                  type: object
                  description: This will be used to show business status and respond. Refer DetailedSummary Object
                  properties:
                    HTML:
                      type: string
                      x-declared-type: AN(MAX)
                      description: Term and condition content
                    Status:
                      type: string
                      maxLength: 3
                      description: Current status
                    Message:
                      type: string
                      maxLength: 500
                      description: Status Description
  /v1/contactboarding:
    post:
      operationId: ContactBoarding
      summary: Contact Boarding
      description: Use this method to add your vendors and customers as Contacts on your PayMate account. While adding a vendor,
        please provide the vendor's account details also. When adding a customer provide an email address for the customer
        which will be used for communication.
      tags:
      - Contacts
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestID:
                    type: string
                    maxLength: 30
                    description: Sent during request
                  StatusCode:
                    type: string
                    maxLength: 3
                    description: Status of the Request
                  Description:
                    type: string
                    maxLength: 300
                    description: Status Description
                  DetailedSummary:
                    type: object
                    description: This will be used to show Contact status and respond. Refer DetailedSummary Object
                    properties:
                      BusinessCode:
                        type: string
                        maxLength: 30
                        description: Business unique reference no. on partner system.
                      BusinessXpressID:
                        type: string
                        maxLength: 15
                        description: Business Unique Relationship no which was issued at the time of boarding.
                      ReferenceCode:
                        type: string
                        maxLength: 30
                        description: Sent during request
                      ContactXpressID:
                        type: string
                        maxLength: 15
                        description: Business Identification at PayMate side
                      Status:
                        type: string
                        maxLength: 20
                        description: Current status of the Contact
                      Message:
                        type: string
                        maxLength: 500
                        description: Status description
              example:
                RequestID: '1234567899876'
                StatusCode: '000'
                Description: Your request has been processed successfully
                DetailedSummary:
                - BusinessCode: ALPHA
                  BusinessXpressID: TDS0223444
                  ReferenceCode: C00004
                  ContactXpressID: ASHF0112223
                  Status: '300'
                  Message: Contact has been added successfully
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  maxLength: 30
                  description: A unique RequestID for Identifying the request.
                ContactInformation:
                  type: object
                  description: Contact basic information will come under ContactInformation object. Refer ContactInformation
                    Object
                  properties:
                    BusinessCode:
                      type: string
                      maxLength: 30
                      description: Business unique reference no. on partner system. Parameter is mandatory if business is
                        not sending issued BusinessXpressID
                    BusinessXpressID:
                      type: string
                      maxLength: 15
                      description: Business Unique Relationship no issued by PayMate. Parameter is mandatory if business is
                        not sending registered BusinessCode
                    CompanyRegistrationNo:
                      type: string
                      maxLength: 30
                      description: Company Registration no issued by the government. If registration number is provided by
                        the partner then PayMate will perform the business KYC in real time. if the registration number is
                        not provided then the Partner will have to use the BuyerSupplierKYC and ShareholderDetails API method
                        for KYC verification.
                    CompanyName:
                      type: string
                      maxLength: 100
                      description: Contact's company name as per the government record
                      x-possible-values: Special characters allowed are . @ & ! ' _ - / ( )
                    CompanyNickName:
                      type: string
                      maxLength: 20
                      description: Nick name of the company
                    ReferenceCode:
                      type: string
                      maxLength: 30
                      description: Contact unique reference no. on partner system.
                    ContactPersonName:
                      type: string
                      maxLength: 250
                      description: Name of the contact person.
                    CompanyEmailAddress:
                      type: string
                      maxLength: 240
                      description: Contact's emails address.
                    CountryCode:
                      type: string
                      maxLength: 3
                      description: Country code as per the Country method. Please refer the API of the CountryInformation
                    ISDCode:
                      type: string
                      maxLength: 4
                      description: Country ISD code
                      x-possible-values: + 0-9
                    MobileNumber:
                      type: string
                      pattern: ^[0-9]+$
                      maxLength: 10
                      description: Contact Mobile Number.
                    NotificationEmailAddress:
                      type: string
                      maxLength: 1200
                      description: Contact email Address. Pass this parameter only when change is required
                    CompanyWebsite:
                      type: string
                      maxLength: 250
                      description: Website of the company.
                    CompanyDescription:
                      type: string
                      maxLength: 500
                      description: Description of the company
                    ContactType:
                      type: string
                      maxLength: 10
                      description: Please refer the API of the ContactType.
                      x-possible-values: Buyer, Supplier, Both
                  required:
                  - CompanyName
                  - ReferenceCode
                  - ContactPersonName
                  - CompanyEmailAddress
                  - ContactType
                BankAccountDetails:
                  type: object
                  description: Beneficiary Bank Name, IBAN and Currency Code will come under BankAccountDetails Object. Refer
                    BankAccountDetails Object
                  properties:
                    AccountHolderName:
                      type: string
                      maxLength: 100
                      description: Name of the person or business that owns the bank account.
                    AccountNo:
                      type: string
                      maxLength: 30
                      description: Contact's Account number
                    CurrencyCode:
                      type: string
                      maxLength: 3
                      description: Three letter ISO code for the currency paid out to the bank account
                    RoutingNumber:
                      type: string
                      pattern: ^[0-9]+$
                      maxLength: 9
                      description: The routing transit number for the bank account. If mandatory by bank then send with account
                        details
                    BICCode:
                      type: string
                      maxLength: 11
                      description: Bank identifier code
                    BranchCity:
                      type: string
                      maxLength: 50
                      description: Name of the bank branch
                      x-possible-values: A-Z, Space
                    CountryCode:
                      type: string
                      description: Three letter ISO code representing the country the bank account is located in
                  required:
                  - AccountHolderName
                  - AccountNo
                  - BICCode
              required:
              - RequestID
              - ContactInformation
              - BankAccountDetails
            example:
              RequestID: '12345678987654321'
              ContactDetails:
              - ContactInformation:
                  BusinessCode: ALPHA
                  BusinessXpressID: ''
                  CompanyRegistrationNo: '8765432123'
                  CompanyName: Alfala Technologies
                  CompanyNickName: ''
                  ReferenceCode: ALFTECH
                  ContactPersonName: Sheikh Mohammad Salaman Bin Abdul Aziz
                  CompanyEmailAddress: alfala@yopmail.com
                  CountryCode: MYS
                  ISDCode: '+60'
                  MobileNumber: '196090811'
                  CompanyWebsite: ''
                  CompanyDescription: ''
                  ContactType: Supplier
                BankAccountDetails:
                  AccountHolderName: Supernet Services
                  AccountNo: '565343423'
                  CurrencyCode: MYR
                  RoutingNumber: ''
                  BICCode: DBSSSGSG
                  BranchCity: ''
                  CountryCode: MYS
  /v1/modifycontact:
    post:
      operationId: ModifyContact
      summary: Modify Contact
      description: This method is used for updating the Contact information, once the contact is on-boarded to the PayMate.
        The Business can update their Contact information such as company Name, Contact person’s information, Account no,
        routing code, etc
      tags:
      - Contacts
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestID:
                    type: string
                    maxLength: 30
                    description: Sent during request
                  StatusCode:
                    type: string
                    maxLength: 3
                    description: Status of the Request
                  Description:
                    type: string
                    maxLength: 300
                    description: Status Description
                  DetailedSummary:
                    type: object
                    description: This will be used to show Contact status and respond. Refer DetailedSummary Object
                    properties:
                      BusinessCode:
                        type: string
                        maxLength: 30
                        description: Business unique reference no. on partner system.
                      BusinessXpressID:
                        type: string
                        maxLength: 15
                        description: Business Unique Relationship no which was issued at the time of boarding.
                      ReferenceCode:
                        type: string
                        maxLength: 30
                        description: Sent during request
                      ContactXpressID:
                        type: string
                        maxLength: 15
                        description: Business Identification at PayMate side
                      Status:
                        type: string
                        maxLength: 3
                        description: Current status of the Contact
                      Message:
                        type: string
                        maxLength: 500
                        description: Status description
              example:
                RequestID: REQhjh777911
                StatusCode: '000'
                Description: Your request has been processed successfully
                DetailedSummary:
                - Status: '300'
                  Message: Contact modified successfully
                  BusinessCode: ''
                  BusinessXpressID: AAAA0065Q1
                  ReferenceCode: ''
                  ContactXpressID: AAAA0065Q5
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  maxLength: 30
                  description: A unique Request no from the partner to track the request
                BusinessCode:
                  type: string
                  maxLength: 30
                  description: Business unique reference no. on partner system. Parameter is mandatory if business is not
                    sending issued BusinessXpressID
                BusinessXpressID:
                  type: string
                  maxLength: 15
                  description: Business Unique Relationship no issued by PayMate. Parameter is mandatory if business is not
                    sending registered BusinessCode
                ContactInformation:
                  type: object
                  description: All the Contact basic information will come under ContactInformation Object. Refer ContactInformation
                    Object
                  properties:
                    ContactXpressID:
                      type: string
                      maxLength: 15
                      description: If ReferenceCode passed, then this is optional, else Required.
                    ReferenceCode:
                      type: string
                      maxLength: 30
                      description: If ContactXpressID passed, then this is optional, else Required.
                    CompanyRegistrationNo:
                      type: string
                      maxLength: 30
                      description: Company Registration no issued by the government. If registration number is provided by
                        the partner then PayMate will perform the supplier KYC in real time otherwise the business will use
                        other ContactKYC API and submit the KYC documents. PayMate will review the KYC document and take action
                        within 48 hours.
                    CompanyName:
                      type: string
                      maxLength: 100
                      description: Contact's company name. Pass this parameter only when change is required. Special characters
                        allowed are . @ & ! ' _ - / ( )
                    ContactPersonName:
                      type: string
                      maxLength: 250
                      description: Contact's person name. Pass this parameter only when change is required
                    CompanyEmailAddress:
                      type: string
                      maxLength: 30
                      description: Contact's emails address for sending notification. Pass this parameter only when change
                        is required
                    CountryCode:
                      type: string
                      maxLength: 100
                      description: Country Code as per the Country object. Pass this only when change is required. Please
                        refer the API of the CountryInformation
                    ISDCode:
                      type: string
                      maxLength: 4
                      description: Country ISD code. Pass only when change is required
                    MobileNumber:
                      type: string
                      pattern: ^[0-9]+$
                      maxLength: 10
                      description: Mobile Number. Pass this parameter only when change is required
                    NotificationEmailAddress:
                      type: string
                      maxLength: 240
                      description: Contact email Address. Pass this parameter only when change is required
                    CompanyWebsite:
                      type: string
                      maxLength: 250
                      description: Website of the company. Pass this only when change is required.
                    CompanyDescription:
                      type: string
                      maxLength: 500
                      description: Description of the company. Pass this only when change is required.
                    ContactType:
                      type: string
                      maxLength: 10
                      description: Please refer the API of the ContactType. Pass this only when change is required.
                BankAccountDetails:
                  type: object
                  description: Refer BankAccountDetails Object
                  properties:
                    AccountHolderName:
                      type: string
                      maxLength: 100
                      description: Name of the person or business that owns the bank account.
                    AccountNo:
                      type: string
                      maxLength: 30
                      description: Contact's Account number
                    CurrencyCode:
                      type: string
                      maxLength: 3
                      description: Three letter ISO code for the currency paid out to the bank account
                    RoutingNumber:
                      type: string
                      pattern: ^[0-9]+$
                      maxLength: 9
                      description: The routing transit number for the bank account. If mandatory by bank then send with account
                        details
                    BICCode:
                      type: string
                      maxLength: 11
                      description: Bank identifier code
                    BranchCity:
                      type: string
                      maxLength: 50
                      description: Name of the bank branch
                      x-possible-values: A-Z, Space
                    CountryCode:
                      type: string
                      description: Three letter ISO code representing the country the bank account is located in
                  required:
                  - AccountHolderName
                  - AccountNo
                  - BICCode
              required:
              - RequestID
              - ContactInformation
              - BankAccountDetails
            example:
              RequestID: REQhjh777911
              BusinessCode: ''
              BusinessXpressID: AAAA0065Q1
              ContactDetails:
              - ContactInformation:
                  ContactXpressId: AAAA0065Q5
                  ReferenceCode: ''
                  CompanyName: rd 2 modify
                  ContactPersonName: rd two modi
                  CompanyEmailAddress: rd2.modify@yopmail.com
                  CountryCode: MYS
                  ISDCode: '+60'
                  MobileNumber: '197290811'
                  NotificationEmailAddress: mgonee1@yopmail.com
                  CompanyWebsite: www.mgonee1.com
                  CompanyDescription: xnbcnxzvcnzvbcnb
                  ContactType: Supplier
                BankAccountDetails:
                  AccountHolderName: Supernet Services
                  AccountNo: '1277677443332'
                  CurrencyCode: MYR
                  RoutingNumber: ''
                  BICCode: MFBBMYKL
                  BranchCity: ANTPSGSGXXX
                  CountryCode: MYS
  /v1/DeleteContact:
    post:
      operationId: DeleteContact
      summary: Delete Contact
      description: This method is used for deleting a Contact permanently.
      tags:
      - Contacts
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties:
                  RequestID:
                    type: string
                    x-declared-type: AB(30)
                    description: Sent during the request.
                  StatusCode:
                    type: string
                    maxLength: 3
                    description: Status of the request.
                  Description:
                    type: string
                    maxLength: 300
                    description: Status description.
              example:
                RequestID: '123456789'
                StatusCode: '000'
                Description: Contact Deleted successfully
                DetailedSummary:
                  BusinessCode: ALPHA
                  BusinessXpressID: STF01122333
                  ReferenceCode: S001234
                  ContactXpressID: PMX10002344
                  Status: '392'
                  Message: Your Contact has been deleted successfully
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  maxLength: 30
                  description: A unique Request ID from the partner to track the request.
                BusinessCode:
                  type: string
                  maxLength: 30
                  description: Business unique reference number on partner system. Mandatory if BusinessXpressID is not provided.
                BusinessXpressID:
                  type: string
                  maxLength: 15
                  description: Business unique relationship number issued by PayMate. Mandatory if BusinessCode is not provided.
                ContactXpressID:
                  type: string
                  maxLength: 15
                  description: Contact unique relationship number issued by PayMate. Optional if ReferenceCode is provided.
                ReferenceCode:
                  type: string
                  maxLength: 30
                  description: Reference code associated with the contact. Optional if ContactXpressID is provided.
                Reason:
                  type: string
                  maxLength: 500
                  description: Remarks on why the contact is being deleted.
              required:
              - RequestID
              - Reason
            example:
              ContactDetails:
                RequestID: '123456789876543215'
                BusinessCode: ALPHA
                BusinessXpressID: ''
                ContactXpressID: PMX0001234
                ReferenceCode: ATRS00001
                Reason: Contact is not part of ecosystem
  /v1/managecontact:
    post:
      operationId: ManageContacts
      summary: Manage Contacts
      description: This method is used for getting all the Contact information and status.
      tags:
      - Contacts
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties:
                  StatusCode:
                    type: string
                    maxLength: 3
                    description: Status of the Request
                  Description:
                    type: string
                    maxLength: 300
                    description: Status Description
                  DetailedSummary:
                    type: object
                    description: This will be used to show Contact information. Refer DetailedSummary Object
                    properties:
                      ContactXpressID:
                        type: string
                        maxLength: 15
                        description: Contact Identification at PayMate's end
                      CompanyName:
                        type: string
                        maxLength: 100
                        description: Contact's company name
                      ReferenceCode:
                        type: string
                        maxLength: 30
                        description: Contact unique reference no. on partner system.
                      ContactPersonName:
                        type: string
                        maxLength: 250
                        description: Name of the contact person.
                      ContactDesignation:
                        type: string
                        maxLength: 150
                        description: Designation of the Contact Person.
                      CompanyEmailAddress:
                        type: string
                        maxLength: 30
                        description: Contact's email address.
                      CountryName:
                        type: string
                        maxLength: 100
                        description: Country Name as per the Country object. Please refer the API of the CountryInformation
                      MobileNumber:
                        type: string
                        pattern: ^[0-9]+$
                        maxLength: 10
                        description: Contact Mobile Number.
                      CompanyWebsite:
                        type: string
                        maxLength: 250
                        description: Website of the company.
                      CompanyDescription:
                        type: string
                        maxLength: 500
                        description: Description of the company.
                      ContactType:
                        type: string
                        maxLength: 10
                        description: Please refer the API of the ContactType.
                      ContactStatus:
                        type: string
                        maxLength: 50
                        description: Status of the contact
              example:
                RequestID: RE54005291
                StatusCode: '000'
                Description: Your request has been processed successfully
                DetailedSummary:
                - ContactInformation:
                    BusinessCode: uatmys
                    BusinessXpressID: AAAA0065Q1
                    ReferenceCode: conmys91
                    ContactXpressID: AAAA0065Q4
                    CompanyName: BIG 10 SUPER STORE (TERENGGANU) SDN. BHD.
                    ContactPersonName: Rakhi D
                    ContactDesignation: NA
                    CompanyEmailAddress: rd2911111111@yopmail.com
                    ISDCode: '+60'
                    MobileNumber: '197290811'
                    CountryName: MALAYSIA
                    CompanyWebsite: ''
                    CompanyDescription: ''
                    ContactType: Buyer and Supplier
                    ContactStatusCode: '300'
                    ContactStatus: Contact Active
                  BankAccountDetails:
                    Currency: MYR
                    AccountHolderName: Supernet Services
                    IBANNumber: null
                    SwiftCode: MFBBMYKL
                    BankName: 4
                    BranchAddress: MYS
                    PayableCity: ANTPSGSGXXX
                    AccountStatus: Active
                  KYCDetails:
                    IsKycRequired: Kyc Required
                    KYCStatusCode: '390'
                    KYCStatus: KYC Verified
                - ContactInformation:
                    BusinessCode: uatmys
                    BusinessXpressID: AAAA0065Q1
                    ReferenceCode: rd211111
                    ContactXpressID: AAAA0065Q4
                    CompanyName: rakhi twq
                    ContactPersonName: Rakhi D
                    ContactDesignation: NA
                    CompanyEmailAddress: rd2911111111@yopmail.com
                    ISDCode: '+60'
                    MobileNumber: '197290811'
                    CountryName: MALAYSIA
                    CompanyWebsite: ''
                    CompanyDescription: ''
                    ContactType: Buyer and Supplier
                    ContactStatusCode: '300'
                    ContactStatus: Contact Registered
                  BankAccountDetails:
                    Currency: MYR
                    AccountHolderName: Supernet Services
                    IBANNumber: null
                    SwiftCode: MFBBMYKL
                    BankName: 4
                    BranchAddress: MYS
                    PayableCity: ANTPSGSGXXX
                    AccountStatus: Awaiting Approve
                  KYCDetails:
                    IsKycRequired: Kyc Required
                    KYCStatusCode: '355'
                    KYCStatus: KYC Pending
                - ContactInformation:
                    BusinessCode: uatmys
                    BusinessXpressID: AAAA0065Q1
                    ReferenceCode: rd2
                    ContactXpressID: AAAA005X48
                    CompanyName: rd 2 modify
                    ContactPersonName: rd two modi
                    ContactDesignation: NA
                    CompanyEmailAddress: rd2.modify@yopmail.com
                    ISDCode: '+60'
                    MobileNumber: '197290811'
                    CountryName: MALAYSIA
                    CompanyWebsite: www.mgonee1.com
                    CompanyDescription: xnbcnxzvcnzvbcnb
                    ContactType: Supplier
                    ContactStatusCode: '300'
                    ContactStatus: Contact Registered
                  BankAccountDetails:
                    Currency: MYR
                    AccountHolderName: Supernet Services
                    IBANNumber: null
                    SwiftCode: MFBBMYKL
                    BankName: 4
                    BranchAddress: Singapore
                    PayableCity: ANTPSGSGXXX
                    AccountStatus: Awaiting Approve
                  KYCDetails:
                    IsKycRequired: Kyc Required
                    KYCStatusCode: '355'
                    KYCStatus: KYC Pending
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  maxLength: 30
                  description: A unique Request ID from the partner to track the request.
                BusinessCode:
                  type: string
                  maxLength: 30
                  description: Business unique reference no. on partner system. Parameter is mandatory if business is not
                    sending issued BusinessXpressID
                BusinessXpressID:
                  type: string
                  maxLength: 15
                  description: Business Unique Relationship no issued by PayMate. Parameter is mandatory if business is not
                    sending registered BusinessCode
                ContactXpressID:
                  type: string
                  maxLength: 15
                  description: Contact Issued XpressID
                ReferenceCode:
                  type: string
                  maxLength: 30
                  description: Contact unique reference no. on partner system
                FromDate:
                  type: string
                  description: Company created from date (including from date)
                  x-possible-values: DD-MM-YYYY
                ToDate:
                  type: string
                  description: Company created to date (including to date)
                  x-possible-values: DD-MM-YYYY
                PaginationIndex:
                  type: string
                  pattern: ^[0-9]+$
                  maxLength: 3
                  description: Index for Pagination
                RecordsPerPage:
                  type: string
                  pattern: ^[0-9]+$
                  maxLength: 2
                  description: A limit on the number of record to be return
                  x-possible-values: Max 100
              required:
              - RequestID
              - PaginationIndex
              - RecordsPerPage
            example:
              RequestId: RE54005291
              BusinessCode: ''
              BusinessXpressID: AAAA0065Q1
              ContactXpressID: ''
              ReferenceCode: ''
              FromDate: ''
              ToDate: ''
              PaginationIndex: '1'
              RecordsPerPage: '10'
  /v1/MakePayment:
    post:
      operationId: MakePayments
      summary: Make Payments
      description: This method is used to make payment request to vendors which you have registered on “PayMate”. The method
        returns the Transaction Reference Number, Net Amount and Count on successful payment request creation.
      tags:
      - Payments
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties: {}
              example:
                StatusCode: '000'
                Description: Your request has been processed successfully.
                DetailedSummary:
                  TransactionDetails:
                  - OrderID: CR000013459
                    PayMateRequestNo: '105818124721'
                    TransactionStatus: '000'
                    StatusMessage: Transaction booked successfully
                    PayableAmount: 9950
                  - OrderID: CR000013457
                    PayMateRequestNo: null
                    TransactionStatus: '301'
                    StatusMessage: Orderid already exists
                    PayableAmount: null
                  PaymentURL: https://dev.paymate.in/beta/PMX3.0/SenderAuthentication.aspx?guid=22D7C50397DEBB26833470301574BEB3&prakriya=07CAA0832C2DF798703C660211FBCC2A&bhugtanprakriya=E9F8A265F298DBA5CAED23BADF2FFF57
                  AcceptCount: '1'
                  RejectCount: '1'
                  NetAmount: '9950.00'
                  Status: '428'
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  maxLength: 30
                  description: A unique Request no from the partner to track the request
                BusinessCode:
                  type: string
                  maxLength: 30
                BusinessXpressID:
                  type: string
                  maxLength: 15
                PaymentMode:
                  type: string
                  maxLength: 15
                  description: Payment mode to be used for making payments. Options will be XpressAccount, CreditCard, DebitCard
                    or NetBanking
                  x-possible-values: '[''CreditCard'',''DebitCard'',''Netbanking'',''XpressAccount'']'
                DebitAccount:
                  type: string
                  maxLength: 30
                  description: 'Credit/Debit Card: 16 digit card number XpressAccount: Send issued XpresssAccount Number If
                    CardReferenceNo is passed then this is optional else required'
                ExpiryMonth:
                  type: string
                  pattern: ^[0-9]+$
                  maxLength: 2
                  description: If CardReferenceNo is passed then this is optional else required
                ExpiryYear:
                  type: string
                  pattern: ^[0-9]+$
                  maxLength: 4
                  description: If CardReferenceNo is passed then this is optional else required
                CVV:
                  type: string
                  pattern: ^[0-9]+$
                  maxLength: 3
                  description: If CardReferenceNo is passed then this is optional else required
                Network:
                  type: string
                  maxLength: 15
                  description: If CardReferenceNo is passed then this is optional else required
                  x-possible-values: '[''VISA'', ''MASTERCARD'', ''AMEX'']'
                CardHolderName:
                  type: string
                  maxLength: 50
                  description: Name on Card If CardReferenceNo is passed then this is optional else required
                IssuingBank:
                  type: string
                  maxLength: 100
                  description: Name of the card issuer If CardReferenceNo is passed then this is optional else required
                CardReferenceNo:
                  type: string
                  maxLength: 20
                  description: Card reference number of the saved card If DebitAccount and other info is passed then this
                    is optional else required
                TransactionDetails:
                  type: object
                  description: All the transaction related information need to share in TransactionDetails section. Refer
                    TransactionDetails Object
                Invoice:
                  type: object
                  description: Invoice related information and payable amount need to pass in invoice section. Refer Invoice
                    object
                DebitNote:
                  type: object
                  description: Advance payment information need to send in DebitNote section. Refer DebitNote object
              required:
              - RequestID
              - PaymentMode
              - TransactionDetails
              - Invoice
              - DebitNote
            example:
              RequestID: '123456789'
              BusinessCode: ARFC1223
              BusinessXpressID: ''
              PaymentMode: CreditCard
              DebitAccount: 5204740XXXXXXXX5745
              CardHolderName: John Doe
              ExpiryMonth: XX
              ExpiryYear: XXXX
              CVV: XXX
              Network: VISA
              IssuingBank: affin Bank
              CardReferenceNo: ''
              PaymentDetails:
              - TransactionDetails:
                  OrderID: CR000013454
                  CompanyName: Art & Craft
                  ReferenceCode: AC00001
                  ContactXpressID: ''
                  AccountNo: '565343423'
                  BICCode: ''
                  RoutingNumber: '100002267'
                  PaymentType: GDE
                  NotificationEmailAddress: alfala@yopmail.com,vendor@yopmail.com
                  PaymentRemarks: Payment against the two invoice
                INVOICE:
                - InvoiceNumber: INVOICE122
                  InvoiceStartDate: ''
                  InvoiceEndDate: ''
                  Amount: '500'
                  TDSAmount: '0'
                  InvoiceReferenceNo: ''
                - InvoiceNumber: INVOICE12232
                  InvoiceStartDate: ''
                  InvoiceEndDate: ''
                  Amount: '10000'
                  TDSAmount: '0'
                  InvoiceReferenceNo: ''
                DebitNote:
                - DebitTransactionNo: DEBITREF122
                  DebitDate: 20-01-2021
                  DebitAmount: '50'
                  DebitReferenceNo: ''
                  DebitRemarks: advance payment of 50
                - DebitTransactionNo: DEBITREF12200
                  DebitDate: 20-01-2021
                  DebitAmount: '500'
                  DebitReferenceNo: ''
                  DebitRemarks: Advance payment of 500
              - TransactionDetails:
                  OrderID: CR000013457
                  CompanyName: Art & Craft
                  ReferenceCode: AC00001
                  ContactXpressID: ''
                  AccountNo: '565343423'
                  BICCode: ''
                  RoutingNumber: '100002267'
                  NotificationEmailAddress: alfala@yopmail.com,vendor@yopmail.com
                  PaymentType: GDE
                  PaymentRemarks: Payment against the two invoice
                INVOICE:
                - InvoiceNumber: INVOICE12232
                  InvoiceStartDate: 20-01-2021
                  InvoiceEndDate: 30-01-2021
                  Amount: '25000'
                  TDSAmount: '0'
                  InvoiceReferenceNo: ''
                DebitNote:
                - DebitTransactionNo: DEBITREF12200
                  DebitDate: 20-01-2021
                  DebitAmount: '5000'
                  DebitReferenceNo: ''
                  DebitRemarks: advance payment of Rs 5000
  /v1/getpaymentstatus:
    post:
      operationId: GetPaymentStatus
      summary: Get Payment Status
      description: This method can be used to get the payment request statuses that are still awaiting settlement, paid, or
        refunded.
      tags:
      - Payments
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties: {}
              example:
                RequestId: '123456'
                StatusCode: '000'
                Description: Success
                DetailedSummary:
                  PaymentReport:
                  - TransactionDetails:
                      OrderId: CR000013441
                      CompanyName: Art & Craft
                      ReferenceCode: AC00001
                      SettlementAccountNo: '14567890000'
                      RoutingNumber: '100002267'
                      BICCode: ''
                      PayMateRequestNo: '105015124101'
                      TransactionDateTime: 19-02-2021 3:32:25 PM
                      Remarks: Payment against the invoice
                    RemittorAccountDetails:
                      'NetAmount ': 4950
                      'PaymentFrom ': Credit Card
                      'PaymentThrough ': 411111XXXXXX1111
                      'IssuingBank ': CITI Bank
                      'MDR ': 2.5
                      'ServiceCharges ': 127.51
                      'ServiceTax ': 22.95
                      'ChargedAmount ': 5100.46
                      'GatewayTransactionID ': '20210219153241'
                      'DebitStatus ': '000'
                      'DebitRemarks ': ''
                      'DebitDateTime ': 19-02-2021 3:32:44 PM
                    SettlementDetails:
                      SettlementStatus: '000'
                      SettlementDateTime: 20-02-2021 04:08:41 PM
                      SettlementRemarks: Success
                      BankReferenceNo: '11578021588797'
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  x-declared-type: AN(20-30)
                  description: A unique RequestID for identifying the request.
                PayMateRequestNo:
                  type: string
                  maxLength: 20
                  description: If OrderID is passed, then this is optional; otherwise, it is required.
                BusinessCode:
                  type: string
                  maxLength: 30
                  description: Business unique reference number on partner system. Parameter is mandatory if business is not
                    sending issued BusinessXpressID.
                BusinessXpressID:
                  type: string
                  maxLength: 15
                  description: Business Unique Relationship number issued by PayMate. Parameter is mandatory if business is
                    not sending registered BusinessCode.
                OrderID:
                  type: string
                  maxLength: 30
                  description: If PayMateRequestNo is passed, then this is optional; otherwise, it is required.
              required:
              - RequestID
            example:
              RequestId: '123456'
              OrderID: ''
              BusinessCode: S001234
              BusinessXpressID: ''
              PayMateRequestNo: '105015124101'
  /v1/PaymentHistory:
    post:
      operationId: PaymentReport
      summary: Payment Report
      description: Get all the Payment request which are still awaiting settlement, paid or refund. This method can also be
        used to fetch all the Payment request, within a specific date range.
      tags:
      - Payments
      x-regions:
      - ae
      - au
      - my
      - om
      - sg
      - za
      responses:
        '200':
          description: PayMate response envelope. Business outcome is carried in StatusCode; see errors/paymate-error-codes.yml.
          content:
            application/json:
              schema:
                type: object
                properties: {}
              example:
                RequestId: '123456'
                StatusCode: '000'
                Description: Success
                DetailedSummary:
                  PaymentReport:
                  - TransactionDetails:
                      OrderId: CR000013441
                      CompanyName: Art & Craft
                      ReferenceCode: AC00001
                      SettlementAccountNo: '14567890000'
                      RoutingNumber: '100002267'
                      BICCode: ''
                      PayMateRequestNo: '105015124101'
                      TransactionDateTime: 19-02-2021 3:32:25 PM
                      Remarks: Payment against the invoice
                    RemittorAccountDetails:
                      'NetAmount ': 4950
                      'PaymentFrom ': Credit Card
                      'PaymentThrough ': 411111XXXXXX1111
                      'IssuingBank ': CITI Bank
                      'MDR ': 2.5
                      'ServiceCharges ': 127.51
                      'ServiceTax ': 22.95
                      'ChargedAmount ': 5100.46
                      'GatewayTransactionID ': '20210219153241'
                      'DebitStatus ': '000'
                      'DebitRemarks ': ''
                      'DebitDateTime ': 19-02-2021 3:32:44 PM
                    SettlementDetails:
                      SettlementStatus: '000'
                      SettlementDateTime: 20-02-2021 04:08:41 PM
                      SettlementRemarks: Success
                      BankReferenceNo: '11578021588797'
        '401':
          description: Empty/invalid header credentials (StatusCode 106), observed on an unauthenticated probe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                RequestID:
                  type: string
                  x-declared-type: AN(20-30)
                  description: A unique RequestID for identifying the request.
                OrderID:
                  type: string
                  maxLength: 30
                  description: Client OrderID
                BusinessCode:
                  type: string
[...]
